<div class="container">
  <fieldset>
  <h2>My Info</h2>
<div id="info"  ng-if="myinfoCtrl.user">
  First Name: {{ myinfoCtrl.user.firstName}} <br>
  Last Name: {{ myinfoCtrl.user.lastName}} <br>
  Email: {{ myinfoCtrl.user.email}} <br>
  Phone: {{ myinfoCtrl.user.phone }}  <br>
  Favorite dish: <br>
  <!-- Reuse the existing directive -->
  <menu-item id="user-info-menu-item" menu-item="myinfoCtrl.user.favoriteDishData"></menu-item>
</div>
<div id="notFilled"  ng-if="!myinfoCtrl.user">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up</a> Now!
</div>

</div>
